.footer{
  width: 100%;
  position: relative;
  background-color: #75258e;
  color: white;
  padding: 20px 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

.by-footer{
  position: relative;
  font-weight: bold;
}

.logo-liked{
  height: 30px;
  transition: 0.5s;
}

.logo-liked:hover{
  opacity: 0.5;
}
